/.vscode
/.claude
/.AGENTS.md
/AGENTS.md
/CLAUDE.md
/build

*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
Module.symvers
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
